{% extends 'base.html' %}
{% block content %}
<script>
	function msg(){
		 if (document.getElementById("ptext").type == "hidden" && document.getElementById("ptext").value.length != 0) {
			document.getElementById("ptext").type = 'show';
			document.getElementById("decrypt").disabled = true;
			document.getElementById("decryptlabel").style.display = 'block';
  		} 
		else{
				document.getElementById("ptext").type	 = 'hidden';
				alert("Please encrypt first");
			}

		
	}
	</script>
<div class="text-center"><h3>Elgamal Re-encryption Algorithm</h3></div>
<div class="container col-sm-12 col-md-12 col-lg-6 float-left">
	<br>
	<div class="card text-black bg-white mb-3" style="max-width: 38rem;">
		<div class="card-header bg-white">Given a large prime p = 65537, a primary root g =3 </div>
		<div class="card-body">
			<form method="POST"> 
				{% csrf_token %}
				<!-- {% csrf_token %} -->
				{{ form.as_p }}
				<button type="submit" name="encrypt"  value="encrypt" class="btn btn-outline-dark btn-lg text-center">Encrypt</button>
				<button type="button"  name="decrypt" id = "decrypt" value="decrypt" class="btn btn-outline-dark btn-lg"  onclick="msg()">Decrypt</button>
			</form>
		</div>
	  </div>
	</div>
<div class="container col-sm-12 col-md-12 col-lg-6 float-right">
	<br>
	<div class="card text-black bg-white mb-3" style="max-width: 40rem;">
		<div class="card-header bg-white">Output will appear here</div>
		<div class="card-body">
			<label>Your Public Key, y is :</label>
			<input class = " d-inline form-control" type="text" id="fname" value="{{ result.y}}" readonly placeholder="Public Key"><br>
			<label>C1=g^r mod p, Your C1 is:</label>
			<input class = " d-inline form-control" type="text" id="fname" value="{{ result.c1 }}" readonly placeholder="C1 Value"><br>
			<label>C2=m * (y^r mod p), Your C2 is:</label>
			<input class = "d-inline form-control" type="text" id="fname" value="{{ result.c2 }}" readonly placeholder="C2 Value"><br>
			<label>C1'= c1 * g^r1 mod p, Your C1' is:</label>
			<input class = "d-inline form-control" type="text" id="fname" value="{{ result.c1p }}" readonly placeholder=" C1' Value "><br>
			<label>C2'=c2 * y^r1  mod p, Your C2' is:</label>
			<input class = "d-inline form-control" type="text" id="fname" value="{{ result.c2p }}" readonly placeholder="C2' Value"><br>
			<label  id="decryptlabel" style= "display:none;">Decrypted Message</label>
					<input class = "form-control" type="hidden" id="ptext" readonly value="{{ result.decrypt }}" placeholder="Decrypted Message" display = "none"><br>
		</div>
	  </div>
	
</div>

{% endblock %}